@media only screen and (max-width: 1384px) {
  .guilds__2b93a {
    transition: width 0.1s ease-in-out;
  }
  .sidebar_e031be {
    transition: width 0.1s ease-in-out;
  }
}
@media only screen and (min-width: 812px) and (max-width: 1384px) {
  /* collapse the sidebars */
  .guilds__2b93a:not(:hover) {
    width: 10px;
  }
  .sidebar_e031be:not(:hover) {
    width: 48px;
  }
  /* leave a wider space for private channel avatars */
  .sidebar_e031be:has(.privateChannels__9b518):not(:hover) {
    width: 64px;
  }
  /* don't let the server boost text wrap */
  .textArea__81b51 {
    overflow: hidden;
  }
  .textArea__81b51 .goalText__38c12 {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
  }
  /* hide the overflowing quick controls next to the user avatar and game icon */
  .sidebar_e031be:not(:hover) .flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413 {
    display: none;
  }
  .sidebar_e031be:not(:hover) .activityPanel_b73e7a .actions_d57dc4 {
    display: none;
  }
  /* hide icons on the right side of channel names */
  .sidebar_e031be:not(:hover) li.containerDefault_ae2ea4 .children__563f2 {
    display: none;
  }
  /* if a channel has a "new" badge, color the icon */
  .sidebar_e031be:not(:hover) li.containerDefault_ae2ea4:has([style*='text-brand']) .iconContainer__6a580 .icon__67ab4 {
    color: var(--text-brand);
  }
}
@media only screen and (max-width: 900px) {
  /* collapse the server member list */
  .chat__52833 .content__01e65 .container_f79ab4 {
    transition: width 0.1s ease-in-out;
  }
  .chat__52833 .content__01e65 .container_f79ab4:not(:hover) {
    width: 10px;
  }
  .chat__52833 .content__01e65 .container_f79ab4:not(:hover) > * {
    display: none;
  }
}
@media only screen and (max-width: 812px) {
  /* collapse the sidebars */
  :has(.sidebar_e031be:not(:hover)) .guilds__2b93a:not(:hover) {
    width: 10px;
  }
  :has(.guilds__2b93a:not(:hover)) .sidebar_e031be:not(:hover) {
    width: 10px;
  }
}
@media only screen and (max-width: 578px) {
  /* collapse the message search bar */
  .searchBar__5a20a:not(:focus-within) {
    width: auto;
  }
  .searchBar__5a20a:not(:focus-within) .DraftEditor-root {
    width: 0;
    margin: 0;
    padding: 0;
  }
  /* wrap the channel text area */
  .channelTextArea_c2094b .inner__9fd0b {
    flex-wrap: wrap;
  }
}
