@media screen and (max-width: 1384px) {
  /* collapse the sidebars */
  .guilds__2b93a {
    width: 10px;
    transition: width 0.1s ease-in-out;
  }
  .sidebar_e031be {
    width: 48px;
    transition: width 0.1s ease-in-out;
  }
  /* leave a wider space for private channel avatars */
  .sidebar_e031be:has(.privateChannels__9b518) {
    width: 68px;
  }
  /* don't let the server boost text wrap */
  .textArea__81b51 {
    overflow: hidden;
  }
  .textArea__81b51 .goalText__38c12 {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
  }
  /* hide the overflowing quick controls next to the user avatar */
  .flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413 {
    display: none;
  }

  /* ON HOVER */

  :has(.sidebar_e031be:hover) .guilds__2b93a,
  .guilds__2b93a:hover {
    width: 72px;
  }
  :has(.guilds__2b93a:hover) .sidebar_e031be,
  .sidebar_e031be:hover {
    width: 240px;
  }
  /* show the quick controls on hover */
  :has(.guilds__2b93a:hover)
    .sidebar_e031be
    .flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413,
  .sidebar_e031be:hover .flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413 {
    display: flex;
  }
}
